<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Select Photo</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    </ul>
</head>
</html>
